.navbar-menu {
  text-decoration: none;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  background-color: getColor('dark');
  position: sticky;
  top: 0;
  .nav-brand_big {
    padding: 1rem 0rem 1rem 1rem;
    position: sticky;
    top: 0;
    img {
      height: 85px;
    }
  }
  .nav-brand_small {
    padding: 1rem 0rem 0.1rem 0.5rem;
    position: sticky;
    top: 0;
    img {
      height: 10px;
    }
  }

  .nav-list_menu_big {
    position: fixed;
    margin-top: 106px;
    width: 200px;

    .child {
      li {
        width: 100%;
        // margin-bottom: 1rem;
        padding-left: 3rem;

        a {
          display: block;
          // color: getColor('white');
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .nav-list_menu_small {
    position: fixed;
    margin-top: 106px;
    width: 40px;
    .child {
      li {
        width: 100%;
        // margin-bottom: 1rem;
        // padding-left: 1rem;

        a {
          display: block;
          // color: getColor('white');
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }

  ul {
    padding: 0;
  }

  li {
    width: 100%;
    margin: 0.7rem 0 0.7rem 0;
    // padding-left: 0.2rem;
  }

  a {
    padding-left: 0.5rem;
    // padding: 0.5rem, 0, 0, 1rem;
    display: flex;
    color: getColor('white');
    font-size: 1.1rem;
    align-items: center;
    // margin: auto;
    span:first-child {
      font-size: 1.5rem;
      padding-right: 0.5rem;
    }
    span:nth-child(2) {
      padding-right: 1rem;
      padding-bottom: 0.3rem;
    }

    &.active {
      background: getColor('dark');
      color: getColor('primary');
      padding-top: 0.6rem;
      padding-bottom: 0.3rem;
      // border-radius: 10px 0px 0px 10px;
      // border-right: getColor('primary') 5px solid;
      box-shadow: inset 3px 1px getColor('primary');
    }
    &:hover {
      text-decoration: none;
      color: getColor('blue');
    }
  }
}

// .nav--endSpan {
//   margin: auto;
//   margin-left: 1rem;
//   // ms-auto me-3
// }

// .nav--text {

// }
