<% if (order_line.page === 1) { %>
<tr class="information">
  <td colspan="2">
    <table>
      <tr>
        <td>
          <!-- <div style="font-size: 30px; font-weight: medium; color: #333; margin: 10px 0px">Quotation # <%= quotation.orderID %></div> -->
          <div style="font-size: 30px; font-weight: medium; color: #333; margin: 10px 0px"><%= accountsStatus %> # <%= quotation.orderID %></div>
          <br />
          Quotation Date:<br />
          <%= quotation.order_date.toISOString().slice(0, 10) %><br />
          Valid For: 5 Days<br />
        </td>

        <td class="align-right">
          <%= quotation.customer.name %><br />
          <!-- 122 Fort St<br />
                      Box 8045, Belmont<br />
                      Bulawayo, Zimbabwe<br /> -->
          <%= quotation.customer.vatOrBpNo %>
        </td>
      </tr>
    </table>
  </td>
</tr>
<% } %>

<tr>
  <td colspan="4">
    <table>
      <tr class="heading">
        <td>Description</td>
        <td>Quantity</td>
        <td>Unit Price</td>
        <td class="align-right">Amount</td>
      </tr>
      <% order_line[`page${order_line.page}`].forEach(function(product){ %> <%- include('./product.ejs', {product}); %> <% }); %> <% if
      (order_line.page === pages) { %>

      <tr class="sub-item">
        <td></td>
        <td></td>
        <td>Sub-Total</td>
        <td class="align-right">$ <%= quotation.sub_total.toFixed(2) %></td>
      </tr>
      <tr class="sub-item">
        <td></td>
        <td></td>
        <td>VAT</td>
        <td class="align-right">$ <%= quotation.tax.toFixed(2) %></td>
      </tr>
      <tr class="sub-item last">
        <td></td>
        <td></td>
        <td>Balance</td>
        <td class="align-right">$ <%= quotation.balance.toFixed(2) %></td>
      </tr>
      <% } %>
    </table>
  </td>
</tr>
