<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; " />
<link rel="icon" href="/images/logo.ico" type="image/x-icon" />
<link rel="stylesheet" href="/css/style.css" />
<title>Invoice</title>
