<page size="A4">
  <div class="invoice-box">
    <table>
      <thead>
        <%- include('./header.ejs', { page: order_line.page }); %>
      </thead>
      <tbody>
        <% console.log('order_line: ', order_line) %> <%- include('./body.ejs', { quotation, order_line, pages}); %>
      </tbody>
      <tfoot>
        <%- include('./footer.ejs', { pages, page: order_line.page }); %>
      </tfoot>
    </table>
  </div>
</page>
