<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <% newOrderLine.forEach(order_line => { %> <% if (order_line.page === 1) { %> <%- include('./partials/pageOne.ejs', { order_line, quotation,
    accountsStatus }); %> <% } else{ %> <%- include('./partials/pageTwo.ejs', { order_line, quotation }); %> <% } %> <% }) %>
  </body>
</html>
