body {
  background: rgb(204, 204, 204);
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  /* text-align: center; */
}
* {
  box-sizing: border-box;
}

#invoice-POS {
  /* box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); */
  padding: 0mm 6mm 2mm 6mm;
  margin: 0 auto;
  width: 80mm;
  background: #fff;
}
#invoice-POS ::selection {
  /* background: #f31544; */
  /* color: #fff; */
}
#invoice-POS ::moz-selection {
  /* background: #f31544; */
  /* color: #fff; */
}
#invoice-POS h1 {
  font-size: 1.5em;
  color: black;
}
#invoice-POS h2 {
  font-size: 0.9em;
}
#invoice-POS h3 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
#invoice-POS p {
  font-size: 0.7em;
  color: black;
  line-height: 1.2em;
}
#invoice-POS #top,
#invoice-POS #mid,
#invoice-POS #bot {
  /* Targets all id with 'col-' */
  border-bottom: 1px solid black;
}
#invoice-POS #top {
  min-height: 100px;
  text-align: center;
}
#invoice-POS #mid {
  min-height: 80px;
}
#invoice-POS #bot {
  min-height: 50px;
}
#invoice-POS #top .logo {
  height: 60px;
  width: 100px;
  background: url('/images/logo.png') no-repeat;
  background-size: 100px;
  margin-left: auto;
  margin-right: auto;
}

#invoice-POS .info {
  display: block;
  margin-left: 0;
}
#invoice-POS .title {
  float: right;
}
#invoice-POS .title p {
  text-align: right;
}
#invoice-POS table {
  width: 100%;
  border-collapse: collapse;
}
#invoice-POS .tabletitle {
  font-size: 0.5em;
  /* background: #eee; */
}
#invoice-POS .product {
  border-bottom: 1px solid black;
}
#invoice-POS .item {
  width: 50mm;
}
.align-right {
  text-align: right;
  padding-right: 20px;
}
#invoice-POS .itemtext {
  font-size: 0.5em;
}
#invoice-POS #legalcopy {
  margin-top: 5mm;
}

@media print {
  body,
  #invoice-POS {
    margin: 0;
    box-shadow: 0;
  }
}
