body {
  background: rgb(204, 204, 204);
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  text-align: center;
}
page {
  background: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  /* box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5); */
}
page[size='A4'] {
  width: 21cm;
  height: 29.7cm;
  /* content: counter(page) '/' counter(pages); */
}

@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}

body h1 {
  font-weight: 300;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgb(0, 0, 0);
}

body h3 {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
  color: rgb(85, 85, 85);
}

body a {
  color: rgb(0, 102, 255);
}

.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(85, 85, 85);
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
  border-collapse: collapse;
}

.align-right {
  text-align: right;
  padding-right: 10px !important;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
  font-size: 0.8em;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: rgb(51, 51, 51);
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: rgb(238, 238, 238);
  border-bottom: 1px solid rgb(221, 221, 221);
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.item {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.sub-item td:nth-child(n + 3) {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.last td:nth-child(4) {
  padding: 5px 0;
  border-bottom: solid 1px rgb(64, 180, 229);
  font-weight: bold;
  position: relative;
  margin-bottom: 8px;
}
.last td:nth-child(4):after {
  content: '';
  border-bottom: solid 1px rgb(64, 180, 229);
  width: 100%;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.top table tr {
  border-bottom: 2px solid rgb(64, 180, 229);
}
.table-top {
  border-top: 2px solid rgb(64, 180, 229);
}

.footer {
  position: fixed;
  top: auto;
  bottom: 0;
  /* display: inline-block; */
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid rgb(238, 238, 238);
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

thead {
  display: table-header-group;
}
table {
  position: relative;
}

tfoot {
  margin-left: 10px;
  position: absolute;
  top: 25.2cm;
}
