/* Admin dashboard for embroidery
* Author: Brian Karadz
*/

// Local variables Files
@import './vars';

// App Layout
@import './app/components/app-nav';
@import './app/components/app-header';

// Fonts
@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/400.css';
@import '~@fontsource/roboto/500.css';
@import '~@fontsource/roboto/700.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  // font-size: 16px;
  font-family: 'Roboto';
  a {
    text-decoration: none;
  }
}

.App_Login {
  display: flex;
}

.App {
  // overflow: hidden;
  display: grid;
  width: 100vw;
  height: 100vh;
  // background: #3e8383;
  grid-template-areas:
    'nav head'
    'nav main';
  grid-template-rows: 64px 1fr;
  grid-template-columns: 200px 1fr;
}

.main {
  grid-area: main;
}

.breadcrumb-item + .breadcrumb-item::before {
  // $breadcrumb-divider: quote('>');
  float: left;
  padding-right: 0.5rem;

  color: #6c757d;

  content: var(--bs-breadcrumb-divider, '>') /* rtl: var(--bs-breadcrumb-divider, "/") */;
}

ol {
  .breadcrumb-item {
    a {
      color: getColor('primary');
    }
    &.active {
      a {
        color: #6c757d;
      }
    }
  }
}

img,
svg {
  color: getColor('primary');
}
.user__icons {
  font-size: 80px;
}

.nav-toggle {
  $nav-size: 220px;
}
.nav-toggle:checked {
  $nav-size: 70px;
  background: red;
}

body.modal-open .bg {
  filter: blur(6px);
}

.d-none {
  display: none;
}
