
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; " />
  <link rel="icon" href="/images/logo.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/receipt-style.css" />
  <title>POS Receipt</title>
</head>
<body>
  <div id="invoice-POS">

    <div id="top">
      <div class="logo"></div>
      <div class="info">
        <h2>The Embroidery Shop</h2>
      </div><!--End Info-->
    </div><!--End InvoiceTop-->

    <div id="mid">
      <div class="info">
        <h2>Contact Info</h2>
        <p>
            <%= quotation.customer.name %><br /></br>
            <!-- Email   : JohnDoe@gmail.com</br> -->
            <%= quotation.customer.vatOrBpNo %></br>
        </p>
      </div>
    </div><!--End Invoice Mid-->

    <div id="bot">

					<div id="table">
						<table>
							<tr class="tabletitle">
								<td class="item"><h2>Item</h2></td>
								<td class="quantity"><h2>Qty</h2></td>
								<td class="sub-total align-right"><h2>Sub Total</h2></td>
							</tr>

              <% quotation.order_line.forEach(product => { %>
                <tr class="product">
                  <td class="tableitem"><p class="itemtext"><%= product.name %></p></td>
                  <td class="tableitem"><p class="itemtext"><%= product.quantity %></p></td>
                  <td class="tableitem"><p class="itemtext align-right">$ <%= product.total.toFixed(2) %></p></td>
                </tr>
              <% }) %>

							<tr class="tabletitle">
								<td></td>
								<td class="Rate"><h2>VAT</h2></td>
								<td class="payment align-right"><h2>$ <%= quotation.tax.toFixed(2) %></h2></td>
							</tr>

							<tr class="tabletitle">
								<td></td>
								<td class="Rate"><h2>Total</h2></td>
								<td class="payment align-right"><h2>$ <%= quotation.balance.toFixed(2) %></h2></td>
							</tr>

						</table>
					</div><!--End Table-->

					<div id="legalcopy">
						<p class="legal"><strong>Thank you for your business!</strong>  Please call again.
						</p>
					</div>

				</div><!--End InvoiceBot-->
</div><!--End Invoice-->
</body>
</html>

